body{
margin:0px;
padding:0px;
background-color:#b4ff00 ;
}

.ocultar{
display:none;
}

.posicionBotones{
 position: absolute;
}
.atras{
top: 12px;
left: 12px;
}

#btnComenzar{
top: 279px;
left: 97px;
}
  #btnCalentamiento{
    top: 175px;
    left: 57px;
  }
  #btnAbdomen{
    top: 175px;
    left: 212px;
  }
        #tituloAbdomen{
        top: 70px;           
        left: 96px;;
        }
        #btnListoAbd{
        top: 134px;
        left: 120px;
        }
          #rueda {
          margin: 20px;
          width: 150px;
          height: 150px;
          top: 103px;
          left: 85px;
          }

                 #clock{
                  left: 143px;
                  top: 158px;
                  width: 30px;
                  height: 25px;
                  color: black;
                  font-family: 'Medium Italic', sans-serif;
                  font-size: 67px;
                  text-align: center;

                  }


  #btnPiernas{
    top: 293px;
    left: 57px;
  }
  #btnBrazos{
    top: 293px;
    left: 212px;
  } 
  #btnPectorales{
    top: 411px;
    left: 57px;
  }
  #btnGluteos{
    top: 411px;
    left: 212px;
  }  




#btnAcercade{
top: 473px;
left: 187px;
}
#btnAjustes{
top: 473px;
left: 113px; 
}

#btnMenuEjercicios{
top:15px;
left:313px;
right:12px;
}
#logo{
top:39px;
left:20px; 
}

#letrero{
top:565px;
left: 92px 
}

#byt{
top:253px;
left:100px; 
}

#load{
top:300px;
left:100px; 
}



.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #000000;
  font-size: 10px;
  margin: 80px auto;
  position: absolute;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  left: 159px;
  top: 446px;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}


