body{
margin:0px;
padding:0px;
background-color:#b4ff00 ;
}
/* ejemplo 1 de 5 */
.letreroContador
{
  top: 568px;
  left: 105px;
}
/* para la altura de los gifs en los instructivos*/
.topInstructivo{
  position: absolute;
  top: 165px;
  left: 42px;
  height:172px;
  width:272px;
}

#avisoMano {
    width: 360px;
    height: 616px;
    overflow: hidden;
    background: url(../img/fondo_mano.png);
    background-repeat: no-repeat round;
    position: relative;
}

#seccion_00 {
    width: 360px;
    height: 616px;
    overflow: hidden;
    z-index: 5;
    background: url(../img/fondo_entrada.png);
    background-repeat: no-repeat round;
    position: relative;
}

#seccion_01 {
    width: 360px;
    height: 616px;
    overflow: hidden;
    background: url(../img/Inicio/fondo_inicio.png);
    background-repeat: no-repeat round;
    position: relative;
}

#seccion_02 {
    width: 360px;
    height: 616px;
    overflow: hidden;
    background: url(../img/comenzar/fondo_ejercicios.png);
    background-repeat: no-repeat round;
    position: relative;
}
      
      #seccion_02_1 {
      width: 360px;
      height: 616px;
      overflow: hidden;
      background: url(../img/comenzar/fondo_general.png);
      background-repeat: no-repeat round;
      position: relative;
      }

      #seccion_02_2 {
      width: 360px;
      height: 616px;
      overflow: hidden;
      background: url(../img/comenzar/fondo_general.png);
      background-repeat: no-repeat round;
      position: relative;
      }

          

          #adbMin_1{
            top: 353px;
            left: 11px;
          }

          #adbMin_2{
            top: 353px;
            left: 124px;
          }

          #adbMin_3{
            top: 353px;
            left: 229px;
          }

          #adbMin_4{
            top: 453px;
            left: 61px;
          }

          #adbMin_5{
            top: 453px;
            left: 180px;
          }

          #instAbd_1{
            width: 360px;
            height: 616px;
            overflow: hidden;
            background: url(../img/abdomen/abdomen_instructivo1.png);
            background-repeat: no-repeat round;
            position: relative;
          }

          #instAbd_2{
            width: 360px;
            height: 616px;
            overflow: hidden;
            background: url(../img/abdomen/abdomen_instructivo2.png);
            background-repeat: no-repeat round;
            position: relative;
          }

          #instAbd_3{
            width: 360px;
            height: 616px;
            overflow: hidden;
            background: url(../img/abdomen/abdomen_instructivo3.png);
            background-repeat: no-repeat round;
            position: relative;
          }

          #instAbd_4{
            width: 360px;
            height: 616px;
            overflow: hidden;
            background: url(../img/abdomen/abdomen_instructivo4.png);
            background-repeat: no-repeat round;
            position: relative;
          }

          #instAbd_5{
            width: 360px;
            height: 616px;
            overflow: hidden;
            background: url(../img/abdomen/abdomen_instructivo5.png);
            background-repeat: no-repeat round;
            position: relative;
          }

          .instructivosAtras
          {
           top: 563px;
           left: 138px;

          }

          .instructivosAdelante
          {
            top:563px;
            left:198px;
          }

              #seccion_02_2_1 {
              width: 360px;
              height: 616px;
              overflow: hidden;
              background: url(../img/abdomen/fondo_ejercicios.png);
              background-repeat: no-repeat round;
              position: relative;
              }

              #seccion_02_2_2 {
              width: 360px;
              height: 616px;
              overflow: hidden;
              background: url(../img/abdomen/fondo_ejercicios.png);
              background-repeat: no-repeat round;
              position: relative;
              }

              #seccion_02_2_3 {
              width: 360px;
              height: 616px;
              overflow: hidden;
              background: url(../img/abdomen/fondo_ejercicios.png);
              background-repeat: no-repeat round;
              position: relative;
              }


              #seccion_02_2_4 {
              width: 360px;
              height: 616px;
              overflow: hidden;
              background: url(../img/abdomen/fondo_ejercicios.png);
              background-repeat: no-repeat round;
              position: relative;
              }

              #seccion_02_2_5 {
              width: 360px;
              height: 616px;
              overflow: hidden;
              background: url(../img/abdomen/fondo_ejercicios.png);
              background-repeat: no-repeat round;
              position: relative;
              }

      #seccion_02_3 {
      width: 360px;
      height: 616px;
      overflow: hidden;
      background: url(../img/comenzar/fondo_general.png);
      background-repeat: no-repeat round;
      position: relative;
      }

              #seccion_02_3_1 {
              width: 360px;
              height: 616px;
              overflow: hidden;
              background: url(../img/piernas/fondo_ejercicios.png);
              background-repeat: no-repeat round;
              position: relative;
              }

              #seccion_02_3_2 {
              width: 360px;
              height: 616px;
              overflow: hidden;
              background: url(../img/piernas/fondo_ejercicios.png);
              background-repeat: no-repeat round;
              position: relative;
              }

              #seccion_02_3_3 {
              width: 360px;
              height: 616px;
              overflow: hidden;
              background: url(../img/piernas/fondo_ejercicios.png);
              background-repeat: no-repeat round;
              position: relative;
              }
              #seccion_02_3_4 {
              width: 360px;
              height: 616px;
              overflow: hidden;
              background: url(../img/piernas/fondo_ejercicios.png);
              background-repeat: no-repeat round;
              position: relative;
              }

                 #pierStatic4{
                  left:83px; 
                 }

              #seccion_02_3_5 {
              width: 360px;
              height: 616px;
              overflow: hidden;
              background: url(../img/piernas/fondo_ejercicios.png);
              background-repeat: no-repeat round;
              position: relative;
              }

              #seccion_02_3_6 {
              width: 360px;
              height: 616px;
              overflow: hidden;
              background: url(../img/piernas/fondo_ejercicios.png);
              background-repeat: no-repeat round;
              position: relative;
              }

                  #pierDinamic6{
                   left: 72px;
                  }
                  #pierStatic6{
                   left: 72px;
                  }

      #seccion_02_4 {
      width: 360px;
      height: 616px;
      overflow: hidden;
      background: url(../img/comenzar/fondo_general.png);
      background-repeat: no-repeat round;
      position: relative;
      }

              #seccion_02_4_1 {
              width: 360px;
              height: 616px;
              overflow: hidden;
              background: url(../img/brazos/fondo_ejercicios.png);
              background-repeat: no-repeat round;
              position: relative;
              }

              #seccion_02_4_2 {
              width: 360px;
              height: 616px;
              overflow: hidden;
              background: url(../img/brazos/fondo_ejercicios.png);
              background-repeat: no-repeat round;
              position: relative;
              }

              #seccion_02_4_3 {
              width: 360px;
              height: 616px;
              overflow: hidden;
              background: url(../img/brazos/fondo_ejercicios.png);
              background-repeat: no-repeat round;
              position: relative;
              }

              #seccion_02_4_4 {
              width: 360px;
              height: 616px;
              overflow: hidden;
              background: url(../img/brazos/fondo_ejercicios.png);
              background-repeat: no-repeat round;
              position: relative;
              }

              #seccion_02_4_5 {
              width: 360px;
              height: 616px;
              overflow: hidden;
              background: url(../img/brazos/fondo_ejercicios.png);
              background-repeat: no-repeat round;
              position: relative;
              }

              #braDinamic5{
                left: 27px;
                top: 290px;
              }
              #braStatic5{
                left: 27px;
                top: 290px;
              }

      #seccion_02_5 {
      width: 360px;
      height: 616px;
      overflow: hidden;
      background: url(../img/comenzar/fondo_general.png);
      background-repeat: no-repeat round;
      position: relative;
      }
              #seccion_02_5_1 {
              width: 360px;
              height: 616px;
              overflow: hidden;
              background: url(../img/pectorales/fondo_ejercicios.png);
              background-repeat: no-repeat round;
              position: relative;
              }

              #seccion_02_5_2 {
              width: 360px;
              height: 616px;
              overflow: hidden;
              background: url(../img/pectorales/fondo_ejercicios.png);
              background-repeat: no-repeat round;
              position: relative;
              }

              #seccion_02_5_3 {
              width: 360px;
              height: 616px;
              overflow: hidden;
              background: url(../img/pectorales/fondo_ejercicios.png);
              background-repeat: no-repeat round;
              position: relative;
              }
      #seccion_02_6 {
      width: 360px;
      height: 616px;
      overflow: hidden;
      background: url(../img/comenzar/fondo_general.png);
      background-repeat: no-repeat round;
      position: relative;
      }        
              #seccion_02_6_1 {
              width: 360px;
              height: 616px;
              overflow: hidden;
              background: url(../img/gluteos/fondo_ejercicios.png);
              background-repeat: no-repeat round;
              position: relative;
              }

              #seccion_02_6_2 {
              width: 360px;
              height: 616px;
              overflow: hidden;
              background: url(../img/gluteos/fondo_ejercicios.png);
              background-repeat: no-repeat round;
              position: relative;
              }

              #seccion_02_6_3 {
              width: 360px;
              height: 616px;
              overflow: hidden;
              background: url(../img/gluteos/fondo_ejercicios.png);
              background-repeat: no-repeat round;
              position: relative;
              }

              #seccion_02_6_4 {
              width: 360px;
              height: 616px;
              overflow: hidden;
              background: url(../img/gluteos/fondo_ejercicios.png);
              background-repeat: no-repeat round;
              position: relative;
              }

              #seccion_02_6_5 {
              width: 360px;
              height: 616px;
              overflow: hidden;
              background: url(../img/gluteos/fondo_ejercicios.png);
              background-repeat: no-repeat round;
              position: relative;
              }

              #seccion_02_6_6 {
              width: 360px;
              height: 616px;
              overflow: hidden;
              background: url(../img/gluteos/fondo_ejercicios.png);
              background-repeat: no-repeat round;
              position: relative;
              }


#seccion_03 {
    width: 360px;
    height: 616px;
    overflow: hidden;
    background: url(../img/creditos/fondo_acercade.png);
    background-repeat: no-repeat round;
    position: relative;
}

#seccion_04 {
    width: 360px;
    height: 616px;
    overflow: hidden;
    background: url(../img/ajustes/fondo_ajustes.png);
    background-repeat: no-repeat round;
    position: relative;
}

#off {
  position: absolute;
  top: 155px;
  left: 183px;
}
#on {
  position: absolute;
  top: 155px;
  left: 183px;
}

#offV {
  position: absolute;
  top: 220px;
  left: 183px;
}
#onV {
  position: absolute;
  top: 220px;
  left: 183px;
}

.animaciones{
  position: absolute;
  top: 327px;
  left: 42px;
  z-index: 10;
}

.animaciones2{
  position: absolute;
  top: 327px;
  left: 23px;
}

.animaciones3 {
    position: absolute;
    top: 283px;
    left: 97px;
    z-index: 10;
}

.animaciones4 {
    position: absolute;
    top: 319px;
    left: 29px;
    z-index: 10;
}

.animaciones5 {
    position: absolute;
    top: 319px;
    left: 29px;
    z-index: 10;
}

.animaciones6 {
    position: absolute;
    top: 292px;
    left: 19px;
    z-index: 10;
}

.abdD{
  position: absolute;
  top: 313px;
  left: 42px;
  height:172px;
  width:272px;
}

.abdD_2{
  position: absolute;
  top: 327px;
  left: 23px;
}

.pierD{
  position: absolute;
  top: 283px;
  left: 97px;
}

.braD{
  position: absolute;
  top: 319px;
  left: 45px;
}

.pecD{
  position: absolute;
  top: 319px;
  left: 29px;
}

.gluD{
  position: absolute;
  top: 292px;
  left: 19px;
}


#descansoEjercicio{
  width: 360px;
  height: 616px;
  overflow: hidden;
  background: url(../img/descanso/fondo_descanso.png);
  background-repeat: no-repeat round;
  position: relative;
}

#toalla{
  position: absolute;
  top: 151px;
  left: 36px;
}

#pausarEjercicio{
  width: 360px;
  height: 616px;
  overflow: hidden;
  background: url(../img/pausa/fondo_pausa.png);
  background-repeat: no-repeat round;
  position: relative;
}

.ocultar{
display:none;
}

.mostar{
display:inline;
}

.posicionBotones{
 position: absolute;
}
.atras{
top: 29px;
z-index: 3;
left: 21px;
position: absolute;
}

.botonPlay{
  top: 487px;
  left: 149px;
  position: absolute;
  z-index: 10;
}

.fMano{
  top: -60px;
  left: -1px;
  position: relative;
}

.manoAbdomen1{
  top: 107px;
  left: 43px;
  position: relative;
}

.lExcelente{
  top: -373px;
  left: 65px;
  position: relative;
}

.lVamos{
  top: 231px;
  left: 4px;
  position: relative;  
}

.lPausa{
  top: 62px;
  left: 22px;
  position: relative;
}

.lDescanso{
  top: 62px;
  left: 22px;
  position: relative;
}

.botonPausa{
  top: 487px;
  left: 149px;
  position: absolute;
  z-index: 10;
}

/*botones para el menu de pausa*/
#btnAbandonarPausa{
  top: 171px;
  left: 114px;
  position: relative;
}

#btnContinuar{
  top: 151px;
  left: 31px;
  position: relative;
}

#btnComenzar{
top: 279px;
left: 97px;
}
#btnCalentamiento{
  top: 175px;
  left: 42px;
}
#btnAbdomen{
  top: 175px;
  left: 212px;
}

.titulos{
  top: 22px;
  left: 96px;
}

#btnListoAbd{
  top: 134px;
  left: 120px;
}

#btnListoPies{
  top: 134px;
  left: 120px;
}

#btnListoBra{
  top: 134px;
  left: 120px;
}

#btnListoPec{
  top: 134px;
  left: 120px;
}

#btnListoGlu{
  top: 134px;
  left: 120px;
}

#rueda {
  margin: 20px;
  width: 150px;
  height: 150px;
  top: 103px;
  left: 85px;
  z-index: 10;
}
#clock{
  left: 143px;
  top: 158px;
  width: 30px;
  height: 25px;
  color: #282828;
  font-family: 'Medium Italic', sans-serif;
  font-size: 67px;
  font-weight: 600;
  text-align: center;
  z-index: 10;
}
#premisa{
  left: 36px;
  position: absolute;
  top: 158px;
  width: 30px;
  height: 25px;
  color: #282828;
  font-family: 'Medium Italic', sans-serif;
  font-size: 35px;
  font-weight: 800;
  margin:auto;
  z-index: 10;
}

#btnPiernas{
  top: 293px;
  left: 57px;
}
#btnBrazos{
  top: 293px;
  left: 212px;
} 
#btnPectorales{
  top: 411px;
  left: 57px;
}
#btnGluteos{
  top: 411px;
  left: 212px;
}  

#btnAcercade{
top: 473px;
left: 187px;
}
#btnAjustes{
top: 473px;
left: 113px; 
}

#btnMenuEjercicios{
top: 31px;
left: 316px;
right: 12px;
}
#logo{
top:39px;
left:20px; 
}

#letrero{
top:565px;
left: 92px 
}

#byt{
top:253px;
left:100px; 
}

#barraCarga {
  /*margin: 20px;*/
  width: 400px;
  height: 516px;
  z-index: 20;
}


#load{
top:300px;
left:100px; 
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #000000;
  font-size: 10px;
  margin: 80px auto;
  position: absolute;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  left: 159px;
  top: 446px;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}


/*Estilo de menu hamburguesa de configuración*/
.hamburger{
  position:fixed;
  background-color:transparent;
  left:296px;
  top: 11px;
  height:30px;
  width:22px;
  padding:20px 20px;
  -webkit-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
  -webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  z-index:1002;
  cursor:pointer;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}
.hamburger.is-active{
  background-color:none;
}
._layer{
  background:#333333;
  margin-bottom:4px;
  border-radius:2px;
  width:28px;
  height:4px;
  opacity:1;
  -webkit-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
  -webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:target .-top{
    -webkit-transform:translateY(-100%);
    -ms-transform:translateY(-100%);
    transform:translateY(-100%);
}
.hamburger:target .-bottom{
    -webkit-transform:translateY(100%);
    -ms-transform:translateY(100%);
    transform:translateY(100%);
    }
.hamburger.is-active .-top{
    -webkit-transform:translateY(200%) rotate(45deg) !important;
    -ms-transform:translateY(200%) rotate(45deg) !important;
    transform:translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid{
    opacity:0;
}
.hamburger.is-active .-bottom{
    -webkit-transform:translateY(-200%) rotate(135deg) !important;
    -ms-transform:translateY(-200%) rotate(135deg) !important;
    transform:translateY(-200%) rotate(135deg) !important;
}

.menuppal.is_active{
  transform: translate3d(-234px, 99px, 300px);
  height: 12%;
  background-image: url(../img/menu_hamburguesa/fondo_menu.png);
  width: 123px;
  padding-left: -47px;
  margin-left: 468px;
  right: 0px;
  padding-bottom: 3px;
  top: -29px;
}
.menuppal{
  background-color: rgba(255, 255, 255, 0);
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transform: translate3d(0px, -100%, 0px);
  transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
  width: 100%;
  z-index: 1001;
}
.menuppal ul{
  margin:0;
  padding:0;
  width: 129.167px;
  height: 79px;
}
.menuppal ul li { 
  list-style: none;
  margin-left: 22px;
  text-align:left;
  font-family: Verdadna, Arial, Helvetica;
  color:$nav-color-text;
  font-size:1.0rem;
  line-height:3em;
  height:2em;
  color:#369;
  text-transform:none;
}
.menuppal ul li a{
  text-decoration:none;
  color: white;
}
.menuppal ul li a:target{
  text-decoration:none;
  color:#333;
}